<app-menu></app-menu>
<div class="bg1" id="home">
    <div class="bg-container">
        <div class="head">
            <div class="head-greeting">
                <h1 data-aos="fade-left" data-aos-duration="3000">Andrea Böhme</h1>
                <div data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="3000"><span><b><i>Frond End Developer</i></b></span></div>
                    <div class="links" data-aos="fade-zoom-in" data-aos-easing="ease-in-back"
                    data-aos-delay="3000"
                    data-aos-offset="0">
                        <a href="./assets/download/CV.pdf" target="_blank">Download CV</a><br>
                        <a href="#contact" target="_blank">Contact me</a>
                    </div>
            </div>
         
                <div class="hide-mobile" data-aos="fade-right" data-aos-duration="3000">
                    <img src="assets/img/photo_blue.jpeg">
                </div>
              
                    <img src="assets/img/photo_blue.jpeg" class="show-mobile">
              
           
        </div>
    </div>
</div>

