<div class="bg3">
    <div class="bg-container-footer">
        <div class="footer">
            <div class="link">
                <a routerLink="/imprint">Imprint</a>
                <a routerLink="/legal">Legal Notice</a>
            </div>
            <div class="icon">
                <a href="https://github.com/andrea-boehme" target="_blank"> 
                    <img src="assets/icon/github.png"> </a>
                <a href="https://www.linkedin.com/in/andrea-b%C3%B6hme-0b6824224" target="_blank"> 
                    <img src="assets/icon/linkedIn.png"> </a>
                <a href="https://www.xing.com/profile/Andrea_Boehme22/cv" target="_blank"> 
                    <img src="assets/icon/xing.png"> </a>
            </div>
        </div>
    </div>
</div>