<div id="about" class="bg2">
    <div class="bg-container">
        <h2>About me</h2>
        <div class="about-container">
            <div class="mobile">
                <img src="assets/img/foto2.jpg">
                <div class="about-head">
                    <span>Searching for career challenges I found a passion in programming applications and websites.
                    </span><br><br>
                    <span>As a frontend developer, I believe that technology represents unlimited possibilities. It
                        allows me to learn new skills every day and use them to create unique solutions.</span><br><br>
                    <span>I am sure that my IT knowledge combined with my business administration background as well as
                        language skills will open opportunities to contribute as a teammate and to grow as a
                        professional.</span>
                </div>
            </div>
        </div>
        <div class="about-description">
            <div class="mobile">
                <div class="description">
                    <div class="about-icon">
                        <img src="assets/img/walk.png">
                    </div>
                    <h3>MY JOURNEY BEGAN</h3>
                    <span>I started my IT journey coding my own small websites at home and discovered my passion for
                        developing technology solutions.</span>
                </div>
                <div class="description">
                    <div class="about-icon">
                        <img src="assets/img/search.png">
                    </div>
                    <h3>MY SEARCH</h3>
                    <span>So I decided to get professional training with practical experiences and dedicated my free
                        time to learn software development building projects in teams and on my own.</span>
                </div>
                <div class="description">
                    <div class="about-icon">
                        <img src="assets/img/heart-line.png">
                    </div>
                    <h3>NEXT STEP</h3>
                    <span> Now I am excited to apply my experience with JavaScript, HTML/CSS and Angular as a Junior
                        Developer.</span>
                </div>
                <div class="description">
                    <div class="about-icon">
                        <img src="assets/img/flight.png">
                    </div>
                    <h3>MY GOAL</h3>
                    <span>Therefore I'm looking for an interesting and challenging role in a dynamic company with smart
                        ideas.</span>
                </div>
            </div>
        </div>
    </div>
</div>