.legal-container {
    color: #ccd6f6;
    margin-top: 100px;
    margin-bottom: 50px;

    a {
        text-decoration: none;
        color: #ccd6f6;
        text-decoration-line: underline;
        font-style: italic;
    }
}

@media (max-width: 450px) {
    .legal-container {
        font-size: 9px;
    }

    h1,
    h2,
    h3 {
        font-size: 14px;
    }
}
