.bg-container {
  min-height: 83vh;
    span {
      color: #acb9df;
    }
  
    form {
      min-width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      color: #acb9df;
      margin-top: 30px;
      margin-bottom: 50px;
  
      span {
        margin-top: 16px;
        margin-bottom: 16px;
      }
  
      input {
        height: 32px;
        background-color: #1e3563;
        color: #acb9df;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #acb9df;
        outline: none;
  
        &.ng-touched,
        &.ng-dirty &.ng-invalid {
          border: red 1px solid;
        }
  
        &.ng-valid {
          border: unset;
        }
      }
  
      input:focus {
        outline: none;
      }
  
      input::placeholder {
        color: #c5c6c7;
        padding: 8px;
        font-size: 12px;
        opacity: 0.3;
        font-style: italic;
      }
  
      input[type="name"] {
        font-size: 15px;
      }
  
      input[type="name"] {
        font-size: 15px;
      }
  
      input:focus::placeholder {
        color: transparent;
      }
  
      textarea:focus::placeholder {
        color: transparent;
      }
  
      textarea {
        font-family: inherit;
        max-width: 100%;
        color: #acb9df;
        font-size: 15px;
        height: 150px;
        box-sizing: border-box;
        background-color: #1e3563;
        resize: none;
        padding: 5px;
        border-radius: 10px;
        border: 1px solid #acb9df;
        outline: none;
  
        &.ng-touched,
      &.ng-dirty &.ng-invalid {
          border: red 1px solid;
        }
  
        &.ng-valid {
          border: unset;
        }
      }
  
      textarea:focus {
        outline: none;
      }
  
      textarea[type="text"] {
        font-size: 15px;
      }
  
      textarea::placeholder {
        color: #c5c6c7;
        padding: 8px;
        font-size: 12px;
        opacity: 0.3;
        font-style: italic;
      }
  
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        width: 90px;
        height: 50px;
        background-color: #1e3563;
        color: #8892b0;
        border: 1px solid #CCD6F6;
        cursor: pointer;

        &:hover {
            background-color: #8892b0;
            color: #2a3c5a;
        }
      }
    }
  }
  
  .my-email {
    color: #8892b0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
  }

  .btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-text {
    width: 50%;
    padding-right: 100px;
  }
  
  @media (max-width: 750px) {
    .contact {
      flex-direction: column;
    }
  
    .contact-text {
      padding-right: 0px;
      width: 100%;
  
      span {
        width: 100%;
      }
    }
  }

  .loading {
    z-index: 99;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid rgba(var(--theme-color-1-values), 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.loading::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-right: 5px solid rgb(92, 173, 254);
    animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.confirmation {
  z-index: 99;
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color:#acb9df;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #CCD6F6;
  padding: 10px;
  opacity: 1 !important;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    width: 90px;
    height: 50px;
    background-color: #1e3563;
    color: #8892b0;
    border: 1px solid #CCD6F6;
    cursor: pointer;

    &:hover {
        background-color: #8892b0;
        color: #2a3c5a;
    }
  }
}

.transparent {
  opacity: 0.5;
}


