<div id="contact" class="bg1">
    <div class="bg-container" [class.transparent]="submitStatus">
        <div class="contact">
            <div class="contact-text">
                <h2>Contact me</h2>
                <span>Send me a message via form or via email: </span><br>
                <span class="my-email">andrea.bohme24@gmail.com</span>
            </div>
            <form (submit)="sendContact()" ngNativeValidate #myForm>
                <span>Name:</span>
                <input type="text" name="name" #nameField placeholder="Please enter your name" required>
                <span>Email adress:</span>
                <input type="email" name="email" #emailField pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Please enter your email address" required>
                <span>Message:</span>
                <textarea id="message" name="message" #messageField rows="3"
                    placeholder="Please enter your message" required></textarea>
                <div class="btn">
                    <button type="submit" #sendButton>Send</button>
                    <div *ngIf="loading"><div class="loading"></div></div>
                </div>
            </form>
        </div>
    </div>    
        <div *ngIf="submitStatus" class="confirmation">
            <p>{{ submitMessage }}</p>
            <button (click)="closeConfirmation()">OK</button>
          </div>
</div>

    
