<div id="contact" class="bg1">
    <div class="bg-container">
        <div class="contact">
            <div class="contact-text">
                <h2>Contact me</h2>
                <span>Get in touch via the form below, or by emailing: </span><br>
                <span class="my-email">andrea.bohme@gmail.com</span>
            </div>
            <form #form action="https://andrea-boehme.developerakademie.net/portfolio/send_mail.php" method="POST"
                #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" ngNativeValidate novalidate>
                <span>Name:</span>
                <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Please enter your name"
                    required>
                <span>Email adress:</span>
                <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email"
                    name="email" [(ngModel)]="email" required placeholder="Please enter your email address">
                <span>Message:</span>
                <textarea id="message" name="message" [(ngModel)]="message" rows="3" required
                    placeholder="Please enter your message"></textarea>
                <div class="btn">
                    <button [disabled]="!myForm.valid" type="submit" value="Submit"
                        (click)="form.submit()">Send</button>
                </div>
                
            </form>
        </div>
    </div>
</div>