.bg-container {
    min-height: 88vh;
    align-items: unset;
    color: #ccd6f6;
    margin-top: 100px;
    margin-bottom: 50px;

    a {
        text-decoration: none;
        color: #ccd6f6;
        font-style: italic;
    }
}
